/*To be included in Admin option page*/
@import "common.css"
label.control-label
  padding-top 6px
.k-animation-container, .k-widget, .k-animation-container, .k-block .k-header, .k-list-container
  .container-fluid
    *, *:before, *:after
      vendor("box-sizing", border-box)
.form-control.k-textbox
  height 32px
.k-widget.k-datetimepicker.k-header.form-control
  padding 0
  .k-input,.k-select
    height 32px
  .k-select
    line-height 32px
.k-widget.k-dropdown.k-header.form-control
  height 34px
  padding 0
  margin 0
  .k-dropdown-wrap
    height 34px
    vendor("border-radius", 0 0 0 0)
    .k-input
      line-height 28px