.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.f-width {
  width: 100%;
}
.f-height {
  height: 100%;
}
.strong {
  font-weight: bold;
}
.light {
  font-weight: 100;
}
.innerL {
  padding-left: 15px;
}
.innerR {
  padding-right: 15px;
}
.innerLR {
  padding-left: 15px;
  padding-right: 15px;
}
.small {
  font-size: 0.75em;
}
